body {
  background-color: rgb(205, 205, 252);
  font-family: 'arial';
}
.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

img {
  height: 90px;
  width: auto;
  padding: 10px 100px;
  /* background-color: red; */
}
.search-container {
  height: 90px;
  width: auto;
  padding: 10px 100px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  border-radius: 30px;
  height: 30px;
  width: 180px;
  padding: 5px 20px;
}
.search-container .search {
  margin-left: 5px;
  font-size: 40px;
  color: red;
}

#noPokemonMessage {
  text-align: center;
  margin-top: 15%;
  font-size: 55px;
  font-family:'Courier New', Courier, monospace;
}


.infop{
  display:flex;
} 

h2{
  text-align: center;
  /* padding-top: 30px ; */
}
#pokeName{
  font-size: 50px;
  font-family: "Bungee Tint", sans-serif;

}
.pokemon-card{
  border-radius:30px;
  height: 500px;
  
}

#pokemonDetails{
  margin:30px;
  border-style: dashed;
 padding:30px;
}

#pokemonSprite{
  height: 200px;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
